<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action = "/multer" enctype="multipart/form-data">
        <input type = "file" name = "singleImage" accept="image/png, image/jpeg">
        <button type = "submit">제출</button>
    </form>
</body>
</html>